{% extends "admin/change_list.html" %}
{% load i18n admin_urls static %}

{% block content_title %}
{% if manifestation_title %}
    <h1>بندهای قانونی: {{ manifestation_title }}</h1>
    <div class="breadcrumbs">
        <a href="{% url 'admin:documents_legalunit_changelist' %}">انتخاب نسخه سند</a>
        &rsaquo; {{ manifestation_title }}
    </div>
{% else %}
    {{ block.super }}
{% endif %}
{% endblock %}

{% block object-tools-items %}
{% if manifestation %}
    <li>
        <a href="{% url 'admin:documents_legalunit_add' %}?manifestation={{ manifestation.id }}" class="addlink">
            {% trans 'Add' %} {{ opts.verbose_name }}
        </a>
    </li>
{% else %}
    {{ block.super }}
{% endif %}
{% endblock %}
